In [186]:
#Desativa alguns avisos
import warnings
warnings.filterwarnings("ignore")

#Importações necessárias
import pandas as pd #importa o pandas para 
from connect_oracle import criar_conexao #importa a conexão criada no connect_oracle.py

In [ ]:

df = pd.read_excel("superstore.xlsx", sheet_name="Orders")

In [242]:
df.Category.unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [ ]:
connection = criar_conexao()
cursor = connection.cursor()

In [234]:
cursor.execute(" drop table customers ")

In [238]:
cursor.execute("""
    create table customers (
               Customer_ID varchar2(8),
               Customer_Name varchar2(100),
               Segment varchar2(100),
               Country varchar2(100),
               City varchar2(100),
               State varchar2(50),
               Postal_Code varchar2(100),
               Region varchar2(100),
               primary key (Customer_ID))""")

In [223]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [224]:
del customers
customers = df[["Customer ID", "Customer Name", "Segment", "Country", "City", "State",
       "Postal Code", "Region",]]

In [225]:
customers.rename(
    columns={
        'Customer ID': 'Customer_ID',
        'Customer Name': 'Customer_Name',
        'Postal Code': 'Postal_Code'}, inplace=True)

In [226]:
customers.drop_duplicates(subset = 'Customer_ID', inplace=True, ignore_index=True)

In [227]:
customers.columns

Index(['Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region'],
      dtype='object')

In [228]:
customers

,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region
0,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,United States,Philadelphia,Pennsylvania,19140,East
789,RS-19870,Roy Skaria,Home Office,United States,Burlington,Iowa,52601,Central
790,SC-20845,Sung Chung,Consumer,United States,Arlington Heights,Illinois,60004,Central
791,RE-19405,Ricardo Emerson,Consumer,United States,Kent,Ohio,44240,East
792,SM-20905,Susan MacKendrick,Consumer,United States,Newark,Ohio,43055,East

In [229]:
del query

In [239]:

query = []
for index, row in customers.iterrows():
    query += [(
        str(customers.Customer_ID[index]),
        str(customers.Customer_Name[index]),
        str(customers.Segment[index]),
        str(customers.Country[index]),
        str(customers.City[index]),
        str(customers.State[index]),
        str(customers.Postal_Code[index]),
        str(customers.Region[index])
    )]

In [231]:
print(query[1:3])

[('DV-13045', 'Darrin Van Huff', 'Corporate', 'United States', 'Los Angeles', 'California', '90036', 'West'), ('SO-20335', "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', '33311', 'South')]

In [240]:
cursor.executemany("""
        insert into customers (
            Customer_ID, 
            Customer_Name, 
            Segment, 
            Country, 
            City, 
            State, 
            Postal_Code, 
            Region) values(:1, :2, :3, :4, :5, :6, :7, :8)"""
            , query)
print(cursor.rowcount, "Rows Inserted")

793 Rows Inserted

In [241]:
connection.commit()

In [ ]:
#Inserting data in SQL Table:- 
cursor.executemany("insert into customers values()", customers)
print(cursor.rowcount, "Rows Inserted")

connection.commit()

In [244]:
connection.close()